@media screen and (max-width: 576px) {
  .small-font {
    font-size: 9px;
  }
  h4 {
    font-size: 8px;
    line-height: 17px;
  }

  /* Nav Styles+ */
  nav {
    flex-direction: column;
    margin: 20px 80px;
  }
  .nav-logo img {
    width: 45px;
  }
  .nav-logo {
    gap: 10px;
    font-size: 20px;
  }
  .nav-links {
    flex-direction: column;
  }
  .nav-links a {
    font-size: 12px;
  }
  .nav-links .nav-followus p {
    color: #3c354f;
    font-size: 12px;
  }
  .nav-links .nav-followus img {
    width: 25px;
  }

  /* Banner Styles */
  .banner {
    flex-direction: column-reverse;
    padding: 20px 80px 0px 80px;
    background-position: bottom right;
    background-size: 340px;
    /* margin-bottom: 100px; */
  }
  .banner-image img {
    width: 250px;
  }
  .banner-details h1 {
    font-size: 18px;
    font-weight: 800;
  }
  .banner-details h1 span {
    font-size: 35px;
    font-weight: 800;
  }
  .banner-item-description {
    font-size: 8px;
    gap: 5px;
  }
  .banner-item-description img {
    width: 12px;
  }
  .primary-button {
    font-size: 8px;

    padding: 7px 12px;
    border-radius: 15px;
  }
  .banner-button {
    gap: 10px;
  }
  .banner-item {
    margin-bottom: 12px;
  }
  .banner-details {
    margin-bottom: 30px;
    margin-top: 20px;
  }

  /* Main Section styles */
  /*  */ /*  */ /*  */ /*  */
  /* Gamer section styles */
  .gamer-section {
    flex-direction: column;
    gap: 50px;
    padding: 40px 80px;
  }
  .gamer-section img {
    width: 300px;
  }
  .gamer-details {
    text-align: center;
  }
  .gamer-purpose p {
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
  }
  .gamer-purpose small {
    font-size: 10px;
  }
  .gamer-details span {
    font-size: 25px;
  }

  /*  */ /*  */ /*  */ /*  */

  /* video-section styles */
  .video-section {
    padding: 40px 80px;
  }
  .video-section p {
    font-size: 7px;
  }
  .video-section h1 {
    font-size: 16px;
  }
  .video-card {
    flex-direction: column;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    /* text-align: center; */
  }
  .video-card-description p {
    text-align: center;
  }

  /*  */ /*  */ /*  */ /*  */
  /* Instant Play Section Styles */
  .play-section {
    flex-direction: column;
    gap: 20px;
    padding: 20px 80px;
  }
  .play-details .medium-font {
    font-size: 20px;
    line-height: 20px;
    margin: 0px 40px 20px;
  }
  .play-details {
    text-align: center;
  }
  .play-image .img-1 {
    max-width: 100%;
  }
  .img-2 img {
    max-width: 100px;
  }

  /*  */ /*  */ /*  */ /*  */

  /* Game category section Styles */
  .game-cat-section {
    padding: 20px 50px 40px;
    grid-template-columns: repeat(3, auto);
    row-gap: 20px;
    column-gap: 6px;
  }
  .cat-cards {
    gap: 5px;
    /* margin: 0px auto; */
    padding: 3px 5px;
    border-radius: 50px;
    background: #fff;
    /* text-align: left; */
  }
  .cat-cards img {
    width: 18px;
  }
  .cat-cards p {
    font-size: 6px;
  }
  /*  */ /*  */ /*  */ /*  */

  /* Footer Styles */
  footer {
    margin: 0px auto;
    text-align: center;
    background: #0b0223;
    padding: 30px 0px 30px;
  }
  .footer-logo {
    gap: 10px;
    font-size: 12px;
  }
  .footer-logo img {
    width: 45px;
  }
  .footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0px 60px;
    margin: 20px auto;
  }
  .footer-links a,
  .footer-terms a {
    font-size: 10px;
  }
  .footer-ikons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px auto;
    padding: 25px 70px 0px;
    gap: 15px;
  }
  .footer-ikons img {
    width: 25px;
  }
  .footer-terms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px auto;
    margin: 30px 90px;
    gap: 15px;
  }
}
